body{
	padding: 0px;
	margin: 0px;
	font-family: arial,sans-serif;
}
header{
	width: 100%;
	height: 56px;
	background-color: black;
}
nav{
	color: white;
	width: 1024px;
	margin: 0px auto;
}
h2{
	margin: 0px;
}
.wrapper{
	width: 1024px;
	min-height: 500px;
	margin: 0px auto;
}
.portfolio{
	list-style-type: none;
	padding-left: 0px;
}
.portfolio li{
	display: inline-block;
	margin: 10px 5px 10px 5px;
}
.portfolio li img {
	width: 240px;
}
.portfolio li img:hover {
	cursor: pointer;
}
.overlay:hover{
	cursor: pointer;
}
.frame img:hover{
	cursor: pointer;
}
.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	opacity: 0.7;
	display: none;
}
.frame{
	display: none;
	left: 50%;
	background-color: white;
	width: 700px;
	height: 500px;
	margin-left: -350px;
	position: fixed;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 15px;
}
.frame img{
	width: 660px;
	margin-left: 20px;
}